html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: black;
}

/* CSS variables */

:root {
  --primary-color: #4458dc;
  --primary-color2: #898983;
  --title-color: whitesmoke;
  --text-color: whitesmoke;
  
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #3171e4 0%, #898983 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgb(190, 189, 194);

  /* font-family variables */

  --roboto: "Roboto", cursive;
}
